html{
    font-family: sans-serif;
}

.header{
    text-align: center;
    margin: auto;
    background-color: rgb(16, 16, 15);
}

.header-logo{
    width: 10em;
    height: auto;
}

#Hamburguer{
background-color:rgb(255, 174, 0); 
color: rgb(0, 0, 0);
display: block;
text-align: center;
padding: 0.3em;
cursor: pointer;
font-size: 3em;
}

.header-nav{
 background-color: rgb(20, 19, 19);
 display: none;
}

header-nav.show{
    display: block;
}

ul{
    margin: 0;
}

.header-nav ul{
    list-style: none;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 1.2em;
}

.header-nav a{
    color: rgb(255, 126, 6);
    text-decoration: none;
    display: block;
    padding: 1em;

}

.header-nav a:hover{
    background-color: color-mix(in srgb, rgb(252, 210, 0), white 5%);
    color: rgb(250, 151, 38);
}


.header-nav {
    background-color: rgb(0, 0, 0);
    display: none;
}

.header-nav.show {
    display: block;
}

@media screen and (min-width:48em) {

    #Hamburguer{
        display:none;
    }

    .header-nav{
        display: block;
        background-color:rgb(237, 199, 9);
    }
    
    
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color:rgb(237, 199, 9);
        
      }

.header-logo{
    margin-left: 1em;
}


.header-nav ul{
    margin-right: 0.5em;
    font-size: 1em;
    display: flex; 
    justify-content: center; 
}

.header-nav li{
    display: inline-block;
    
    
}

.header-nav a{
    border-radius: 4px;

}

.header-nav a:hover{
background-color: rgb(241, 133, 0);
color: black;

}

.header a{
    color: rgb(0, 0, 0);
}

}

.fundo{
    background-image: url(imgs/street-fighter-6-6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    background-color:rgb(255, 174, 0);
    padding: 2em;
    text-align:center;
}

.Logos{
    display: flex;
    flex-direction: column;
    gap: 1em;

}

.tamanho{
width: 6em;
margin-bottom: 0.5em;
}

.texto{
font-size: 2em;
text-transform: uppercase;
letter-spacing: 0.15em;
margin: 0;



}

/* Atualize a regra para a classe .carrossel */
.carrossel {
    width: 100%;
    height: 100vh; /* Ocupar toda a altura da tela */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover; /* Manter a proporção e cobrir toda a área */
}

/* Defina a largura de todos os elementos pais para 100% */
html, body, main, .container-fluid {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Impede a barra de rolagem horizontal */
}

section.container-fluid{
    padding: 0%;
}


@media screen and (min-width:48em){
    .Logos{
    
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1.3em;
        
    }

    /* Estilos para os links dos ícones */
    .tamanho {
        width: 4em;
    }

    .texto{
       margin: 0;
       font-size: 1em;
    
    }
    
    footer{
        background-color: rgb(237, 199, 9);
    }


    .fundo {
        display: none; /* Ocultar o fundo de imagem */
    }

    html, body, main, .container-fluid {
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden; /* Impede a barra de rolagem horizontal */
    }
   
   
  
    

}